/*
    COLOR PALETTE
    #3A3549 = English Violet    Purple          Text background
    #26232E = Raisin Black      Purple/Black    Background 
    #464058 = Independence      Light Purple    Headers/footer background
    #AF8D86 = Rosy Brown        Ligth Brown     Notation
*/

/*      GLOBAL
------------------------*/
body {
  background: #26232E;
  color: #ffffff;
}

main {
  width: 1140px;
  margin: 0 auto;
  background: #26232E;
}

hr {
    border: solid;
    color: lightgrey;
}

/*      PROFILE
------------------------*/
.profile {
    background: #3A3549;
    height: 250px;
    margin: 70px 0 50px;
    border: solid;
    border-color: lightgrey;
}

.prof-icon-cont {
    display: inline-block;
}

.prof-text-cont {
    display: inline-block;
}

.prof-icon {
    width: 200px;
    border: solid;
    border-color: lightblue;
}

/*      CARDS & ROW
------------------------*/
.row {
    margin: 10px 0 50px;
}

.card-header {
    background: #464058;
    padding: 5px 20px;
    margin: 0;
}

.card-body {
    padding: 20px;
    height: 200px;
    background: #3A3549;
}


/*      SOCIALS
------------------------*/
.socials { 
    width: 300px;
    margin-right: 20px;
}

.social-icon {
    width: 25px;
}

.social-lbl {
    display: block;
    padding-bottom: 10px;
    padding-left: 20px;
}


/*      ABOUT ME
------------------------*/
.about {
    width: 800px;
    margin-left: 20px;
}


/*        RUST
------------------------*/

.rust {
    background: lightgreen;
}

/*
    html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}