/*
    COLOR PALETTE
    #F0F7EE = Mint Cream        White           Text color 
    #3A3549 = English Violet    Purple          Text background
    #26232E = Raisin Black      Purple/Black    Background 
    #464058 = Independence      Light Purple    Headers/footer background
    #AF8D86 = Rosy Brown        Ligth Brown     Notation
*/
* {
    color: #f0f7ee;
}

body {
    background: #26232e;
    margin: 0px;
    padding: 0px;
    font-family: "Ubuntu", Arial, sans-serif;
}

h2 {
    background: #464058;
    border-radius: 5px;
    padding: 5px;
}

header {
    background: #464058;
    height: 125px;
    border-bottom: solid;
    border-color: grey;
    border-width: 1px;
}

main {
    width: 1140px;
    margin: 0 auto;
}

.card {
    background: #3a3549;
    border-radius: 5px;
}

.c1 {
    width: 250px;
    height: 200px;
}

.c2 {
    width: 500px;
    height: 420px;
}

.cardS {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.cardL {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    width: 100px;
}

.top {
    background: #3a3549;
    border: solid;
    border-color: grey;
    margin-top: 20px;
}

.top-text {
    padding: 0 5px 0;
    margin: 10px;
    display: inline-block;
    border: solid;
    border-color: grey;
}

.flag {
    margin: 10px;
    padding: 0 5px 0;
    display: inline-block;
    border: solid;
    border-color: grey;
}

.icon {
    width: 200px;
}
