/*
    COLOR PALETTE
    #F0F7EE = Mint Cream        White           Text color 
    #3A3549 = English Violet    Purple          Text background
    #26232E = Raisin Black      Purple/Black    Background 
    #464058 = Independence      Light Purple    Headers/footer background
    #AF8D86 = Rosy Brown        Ligth Brown     Notation
*/

/* GLOBAL STYLES
 --------------------------*/
body{
    color: #343434;
}
img {
    width: 300px;
}

a {
    color: #FFE66D;
}

a:hover {
    text-decoration: none;
}

/* Profile 
 --------------------------*/
header {
    background: #2F3061;
    color: #F7FFF7;
}

/* Projects 
 --------------------------*/
.projects {
    background: #F7FFF7;
}

.projects a {
    color: #2f3061;
}

.projects .btn {
    color: #F7FFF7;
    background: #2F3061;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}

.projects .btn:hover {
    background: #2F306180;
}


/* Work Experience 
 --------------------------*/
.work {
    background: #A1C6D7;
}

/* Education
 --------------------------*/


/* Contact Info
 --------------------------*/
footer {
    background: #343434;
    color: #F7FFF7;
}