@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html>
  <div class="profile">
    <div class="prof-icon-cont">
      <img class="prof-icon" src="~/Images//steam_icon.jpg"/>
    </div>
    <div class="prof-text-cont">
      <h1>Profile Name</h1>
      <h2>Name</h2>
      <label> yep</label>
      <p>Member since: dd-mm-yyyy</p>
    </div>
  </div>

  <section class="row">
    <div class="socials">
      <div class="card-header">
        <h2>Socials</h2>
      </div>
      <div class="card-body">
        <label class="social-lbl">
          <span>
            <img class="social-icon" src="~/Images/discord_logo.png"/>
          </span>
            Discord
        </label>
        <label class="social-lbl">
          <span>
            <img class="social-icon" src="~/Images/twitter_logo.png"/>
          </span>
            Twitter
        </label>
        <label class="social-lbl">
          <span>
            <img class="social-icon" src="~/Images/twitch_logo.png"/>
          </span>
            Twitch
        </label>
        <label class="social-lbl">
          <span>
            <img class="social-icon" src="~/Images/youtube_logo.png"/>
          </span>
            YouTube
        </label>
      </div>
    </div>
    <div class="about">
      <div class="card-header">
        <h2>About Me</h2>
      </div>
      <div class="card-body">
        <p>Hello! This section is about me!</p>
      </div>
    </div>
  </section>
  
  <hr/>
</html>