@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <main>
    <div class="top">
      <div class="flag">
        <img class="icon" src="https://avatars.cloudflare.steamstatic.com/4d6779c96746123543aaf8781719325bc119fa80_full.jpg">
      </div>
      <div class="top-text">
        <h1>Name</h1>
        <p>Netherlands</p>
        <p>Member since: 04/01/2022</p>
      </div>
    </div>
    <div class="row">
      <div class="cardS">
        <section class="card c1">
          <h2>Name</h2>
          <p>Image</p>
          <p>Date created</p>
          <p>Country</p>
        </section>
        <section class="card c1">
          <h2>Socials</h2>
          <p>Discord: Casper#0001</p>
          <p>Tiwtter: Casper@Twitter</p>
          <p>Twitch: CasperLive</p>
        </section>
      </div>
      <div class="cardL">
        <section class="card c2">
          <h2>About Me</h2>
          <p>
            Bla bla bla Bla bla bl Bla bla blBla bla bl
            Bla bla blBla bla blBla bla bl
          </p>
        </section>
      </div>
    </div>
  </main>
</body>
</html>