@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<div class="profile">
<div class="prof-icon-cont">
    <img class="prof-icon" src="~/Images//steam_icon.jpg"/>
</div>
<div class="prof-text-cont">
    <h1>Profile Name</h1>
    <h2>Name</h2>
    <label> yep</label>
    <p>Member since: dd-mm-yyyy</p>
</div>
</div>

<section class="row">
<div class="socials">
    <div class="card-header">
    <h2>Socials</h2>
    </div>
    <div class="card-body">
    <label class="social-lbl">
        <span>
        <img class="social-icon" src="~/Images/Social/discord_logo.png"/>
        </span>
        Discord
    </label>
    <label class="social-lbl">
        <span>
        <img class="social-icon" src="~/Images/Social/twitter_logo.png"/>
        </span>
        Twitter
    </label>
    <label class="social-lbl">
        <span>
        <img class="social-icon" src="~/Images/Social/twitch_logo.png"/>
        </span>
        Twitch
    </label>
    <label class="social-lbl">
        <span>
        <img class="social-icon" src="~/Images/Social/youtube_logo.png"/>
        </span>
        YouTube
    </label>
    </div>
</div>
<div class="about">
    <div class="card-header">
    <h2>About Me</h2>
    </div>
    <div class="card-body">
    <p>Hello! This section is about me!</p>
    </div>
</div>
</section>
  
<hr/>

<h1>Rust</h1>
<section class="rust">
<div style="background:orange;">
    <h3>PvP</h3>
    <p>Kills: 10</p>
    <p>Deaths: 2</p>
    <p>KDA</p>

    <h3>Favourite Weapon</h3>
    <p>Random gun</p>
</div>

<div style="background:blue;">
    <h3>Gather</h3>
    <p>Wood: 0</p>
    <p>Stones: 0</p>
    <p>Metal: 0</p>
    <p>Sulfur: 0</p>
    <p>HQM: 0</p>
    <p>Scrap: 0</p>
</div>

<div style="background:green;">
    <h3>Explosives</h3>
    <p>C4: 0</p>
    <p>Satchels: 0</p>
    <p>Grenades: 0</p>
    <p>Rockets: 0</p>
    <p>HV Rocekts: 0</p>
<p>Incendiary Rockets: 0</p>
</div>

<div style="background:red;">
    <h3>Other</h3>
    <p>Helicopter Kills: 0</p>
    <p>Bradley Kills: 0</p>
    <p>NPC Kills: 0</p>
    <p>Crates Opened: 0</p>
    <p>Barrels Destroyed: 0</p>
    <p>Animal Kills: 0</p>
</div>
</section>